<div class="container">
  <h2  style="text-align:center;" id="page2">Step 2</h2>
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        
        <th>Baseline Platelet Concentration</th>
        <th>Concentration of Platelet required in PRP</th>
        <th>Volume of PRP required</th>
        <th>Mean Efficiency</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td><input type="number" ng-model="home.a" /></td>
        <td><input type="number" ng-model="home.b" /></td>
        <td><input type="number" ng-model="home.c" /></td>
        <td><input type="number" ng-model="home.d" /></td>
        
      </tr>
      
    </tbody>
  </table>
  </div>

  <div class="col-md-offset-4">Please draw
  <mark> <strong> {{ ( home.b * home.c) / (home.a * home.d) }}   ml </strong> </mark> of Blood
  </div>
  <br>
<hr>
<a href="#/" class="btn btn-default">Go back home</a>
<p style="padding-bottom:10px"></p>

</div>
